.holaSkelia {
  top: 192px;
  left: calc(50% - 605px);
  font-size: 49.93px;
}
.div,
.estadsticasDelMes,
.holaSkelia,
.turnos {
  position: absolute;
  font-weight: 500;
}
.estadsticasDelMes {
  top: 313px;
  left: calc(50% - 605px);
  font-size: 35.64px;
}
.div,
.turnos {
  top: 40px;
  left: calc(50% - 170.3px);
  display: inline-block;
  width: 222px;
}
.div {
  top: 5px;
  left: calc(50% - 263.7px);
  font-size: 90.87px;
  font-weight: 600;
  width: 61.2px;
}
.div1,
.enElMes {
  position: absolute;
  font-weight: 300;
  color: var(--color-dimgray-400);
}
.enElMes {
  top: 75px;
  left: calc(50% - 169.3px);
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 177.4px;
}
.div1 {
  top: 61px;
  left: calc(50% + 226px);
  font-size: var(--font-size-sm-5);
}
.turnosParent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 600px;
  height: 142px;
}
.frameChild,
.frameItem,
.frameParent {
  position: absolute;
  top: 31px;
  height: 80px;
}
.frameChild {
  left: 496px;
  border-radius: 50%;
  border: 10px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 80px;
}
.frameItem,
.frameParent {
  left: 532px;
  width: 44px;
}
.frameParent {
  top: 420px;
  left: 109px;
  width: 600px;
  height: 142px;
}
.frameGroup {
  position: relative;
  width: 600px;
  height: 142px;
}
.reemplazos {
  position: absolute;
  top: 420px;
  left: 731px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.asisiti,
.bloque,
.fecha,
.reemplazo {
  position: absolute;
  top: 0;
  left: calc(50% - 446px);
  font-weight: 300;
}
.asisiti,
.bloque,
.reemplazo {
  left: calc(50% - 176px);
}
.asisiti,
.reemplazo {
  left: calc(50% + 83px);
}
.reemplazo {
  left: calc(50% + 335px);
}
.frame {
  position: relative;
  width: 892px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-400);
}
.div4,
.div5,
.noAplica,
.s {
  position: absolute;
  top: 0;
  left: calc(50% - 479.2px);
  font-weight: 300;
  display: inline-block;
  width: 177.4px;
}
.div5,
.noAplica,
.s {
  left: calc(50% - 212.2px);
}
.noAplica,
.s {
  left: calc(50% + 49.8px);
}
.noAplica {
  left: calc(50% + 301.8px);
}
.parent {
  position: relative;
  width: 958.4px;
  height: 24px;
}
.frameContainer {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 1229px;
  height: 502px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-105xl) var(--padding-70xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.historial1 {
  position: absolute;
  top: 36px;
  left: calc(50% - 553.5px);
  font-size: 35.64px;
  font-weight: 500;
}
.historial,
.historialChild,
.historialItem {
  position: absolute;
  top: 116px;
  left: 64px;
  width: 1078.5px;
  height: 1px;
}
.historial,
.historialItem {
  top: 162px;
}
.historial {
  top: 786px;
  left: 102px;
  width: 1229px;
  height: 502px;
  font-size: var(--font-size-base);
}
.div14 {
  position: absolute;
  top: 5px;
  left: calc(50% - 253.7px);
  font-size: 90.87px;
  font-weight: 600;
  display: inline-block;
  width: 61.2px;
}
.frameParent1 {
  position: absolute;
  top: 587px;
  left: 731px;
  width: 600px;
  height: 142px;
}
.ciacChild {
  position: relative;
  width: 95px;
  height: 42.5px;
}
.home {
  position: relative;
  font-weight: 500;
}
.ciac,
.homeParent {
  width: 284px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-30xl);
}
.ciac {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1440px;
  height: 97px;
  align-items: flex-start;
  padding: var(--padding-11xl) var(--padding-54xl) var(--padding-11xl)
    var(--padding-101xl);
  box-sizing: border-box;
  gap: var(--gap-849xl);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.vectorIcon {
  position: relative;
  width: 20px;
  height: 11.8px;
}
.historial2 {
  position: absolute;
  top: 207px;
  left: 1102px;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-dimgray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-8xl);
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.horas {
  height: 26.41%;
  width: 37%;
  top: 29.86%;
  left: 21.62%;
  font-weight: 500;
}
.div16,
.enElMes3,
.horas {
  position: absolute;
  display: inline-block;
}
.div16 {
  height: 94.44%;
  width: 9.5%;
  top: 5.56%;
  left: 6.05%;
  font-size: 90.87px;
  font-weight: 600;
}
.enElMes3 {
  height: 20.85%;
  width: 29.57%;
  top: 54.15%;
  left: 21.78%;
  font-size: var(--font-size-xl);
  font-weight: 300;
  color: var(--color-dimgray-400);
}
.horasParent {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 600px;
  height: 142px;
}
.div17 {
  position: absolute;
  top: 37.5%;
  left: 32.5%;
  font-weight: 300;
}
.frameChild2,
.frameChild4 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.frameChild2 {
  width: 100%;
  left: 0;
  border-radius: 50%;
  border: 10px solid var(--color-lightgray);
  box-sizing: border-box;
}
.frameChild4 {
  width: 55%;
  left: 45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent2 {
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: -105px;
  font-size: var(--font-size-sm-5);
  color: var(--color-dimgray-400);
}
.botonTurnos {
  position: absolute;
  top: 586px;
  left: 109px;
  width: 600px;
  height: 144px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.turnosDeReemplazo {
  position: absolute;
  top: 30px;
  left: 44px;
  font-size: var(--font-size-17xl);
  font-weight: 500;
  display: inline-block;
  width: 579px;
  height: 70px;
}
.lineIcon {
  position: absolute;
  top: 87px;
  left: 40px;
  width: 1216px;
  height: 5px;
}
.bloque1,
.fechaDeTurno,
.tutorAlQue {
  position: absolute;
  top: 128px;
  left: 67px;
  display: inline-block;
  width: 305px;
  height: 58px;
}
.bloque1,
.fechaDeTurno {
  top: 129px;
  left: 399px;
  width: 284px;
  height: 34px;
}
.bloque1 {
  left: 644px;
  width: 126px;
}
.p {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.blankLine1 {
  margin: 0;
}
.div18 {
  top: 183px;
  left: 415px;
  text-align: center;
  width: 152px;
  height: 206px;
}
.diegoDebarcaFranciscaContainer,
.div18,
.div19 {
  position: absolute;
  font-size: var(--font-size-xl);
  font-weight: 300;
  display: inline-block;
}
.diegoDebarcaFranciscaContainer {
  top: 182px;
  left: 86px;
  text-align: center;
  width: 231px;
  height: 204px;
}
.div19 {
  top: 178px;
  left: 671px;
  width: 152px;
  height: 208px;
}
.frameChild5 {
  position: absolute;
  top: 167px;
  left: 44px;
  width: 742px;
  height: 3px;
}
.turnosDeReemplazoDeSkeliaParent {
  position: absolute;
  top: calc(50% - 226px);
  left: calc(50% - 649px);
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-400);
  width: 1299px;
  height: 451px;
}
.frameChild6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 10px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 265px;
  height: 253px;
}
.div20,
.frameChild7 {
  position: absolute;
  top: -6.1px;
  left: 124.9px;
  width: 144.6px;
  height: 263.4px;
}
.div20 {
  top: 99px;
  left: 104px;
  font-weight: 300;
  display: inline-block;
  width: 106px;
  height: 51px;
}
.ellipseParent {
  position: absolute;
  top: 497px;
  left: 979px;
  width: 265px;
  height: 253px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
}
.tablaReemplazos {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 1184px;
  font-size: var(--font-size-5xl);
}
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  height: 36.67%;
  width: 36.67%;
  top: 31.67%;
  right: 31.67%;
  bottom: 31.67%;
  left: 31.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon2 {
  height: 103.33%;
  width: 103.33%;
  top: -1.67%;
  right: -1.67%;
  bottom: -1.67%;
  left: -1.67%;
}
.out {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 396px;
  left: 1301px;
  width: 30px;
  height: 30px;
}
.ventanaDeReemplazos {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  height: 1184px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
