.wrapper {
  padding: 80px 120px;
  position: relative;
  width: auto;
}

.box {
  display: flex;
  gap: 48px;
  width: 100%;
}

.turnos {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.infoBloque {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 324px;
}

.bloqueName {
  color: #2F2D38;
  font-size: 24px;
}

.bloque {
  align-items: center;
  display: flex;
  margin: 0;
}

.button3 {
  background-color: #37343B;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 18px 32px;
  width: 100%;
}

.modal {
  background-color: white;
  border: solid 1px #C1C0C0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  justify-content: center;
  left: 50%; 
  padding: 32px 48px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px; 
  z-index: 2;
}

.form {
  background-color: white;
  border: solid 1px #C1C0C0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  justify-content: center;
  left: 50%; 
  padding: 32px 48px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px; 
  z-index: 2;
}

.subtitle {
  display: flex;
  justify-content: center;
}

.title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.box2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.codigoQR {
  display: flex;
  flex-direction: column;
}

.input {
  border: solid 1px #C1C0C0;
  border-radius: 8px;
  height: 48px;
  padding-left: 12px;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}


.inputError {
  animation: shake 0.5s ease-in-out;
  border: solid 1px #C1C0C0;
  border: solid 1px #D43131;
  border-radius: 8px;
  height: 48px;
  padding-left: 12px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.button {
  background-color: #37343B;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 18px 32px;
}

.button2 {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #37343B;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 18px 32px;
  text-decoration: underline;
}

.icon {
  background-color: transparent;
  border: none;
  padding: 24px;
}

.error {
  background-color: #FED0D0;
  border: solid 1px #C23636;
  border-radius: 8px;
  color: #C23636;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding: 18px 24px;
}

.success {
  background-color: #ECFFCB;
  border: solid 1px #215518;
  border-radius: 8px;
  color: #215518;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding: 18px 24px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noTutores {
  align-items: center;
  background-color: #F7F7F7;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 32px 48px;
  width: auto;
}


@media screen and (max-width: 640px) {
  
  .box {
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

}