.wrapper {
  padding: 80px 120px;
}

.box {
  display: flex;
  gap: 32px;
}

.turnos {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  background-color: #37343B;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 18px 32px;
  width: 100%;
}






