.info {
  background-color: #F7F7F7;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 24px;
  width: 800px;
}

.name {
  display: flex;
  justify-content: space-between;
}

.rotulo {
  display: flex;
  flex-direction: column;
}

.type {
  color: #5D5D5D;
  font-size: 14px;
}

.icon {
  background-color: transparent;
  border: none;
}

.textbold {
  color: #1E1E1E;
  font-weight: 500;
}

.text {
  color: #1E1E1E;
  display: flex;
  font-size: 16px;
  gap: 4px;
}

ul {
  margin-left: -55px; 
}

li {
  list-style-type: disc; 
  margin-left: 10px; 
}
